{% extends 'base-headersmall.html' %}

{% block content %}
    <style >
      .img-fluid {
        max-width: 50%;
        height: auto;
      }

      .img-fluid-complete {
        max-width: 90%;
        height: auto;
      }
    </style>
     <main>
      <div class="container mt-10">
        <h4 class="text-center">Expand the horizon of AI with Image Analysis</h4>
      </div>
      <div class="container mt-5" style="max-width: 90%;">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link {% if tabselected == 'defect-detection' %}active{% endif %}" id="defect-detection-tab" data-toggle="tab" href="#defect-detection" role="tab" aria-controls="defect-detection" aria-selected="{% if active == 'defect-detection' %}true{% else %}false{% endif %}">Defect Detection</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link {% if tabselected == 'chat-with-data' %}active{% endif %}" id="chat-with-data-tab" data-toggle="tab" href="#chat-with-data" role="tab" aria-controls="chat-with-data" aria-selected="{% if active == 'chat-with-data' %}true{% else %}false{% endif %}">Chat with Data</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link {% if tabselected == 'image-generation' %}active{% endif %}" id="image-generation-tab" data-toggle="tab" href="#image-generation" role="tab" aria-controls="image-generation" aria-selected="{% if active == 'image-generation' %}true{% else %}false{% endif %}">Image Generation</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade {% if tabselected == 'defect-detection' %}show active{% endif %}" id="defect-detection" role="tabpanel" aria-labelledby="defect-detection-tab">
            <div class="container justify-content-center px-3 align-items-center">
              <div class="row">
                <div class="col-md-6">
                  <div class="card">
                    <div class="card-body justify-content-center">
                      <h5 class="card-title">Cola Can (Reference)</h5>
                      <p class="card-text">Cola Can reference image</p>
                    </div>
                    <img src="{{ url_for('static', filename='images/colacan.png') }}" class="card-img-top img-fluid-complete" alt="Image 1">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Cola Can (with Defect)</h5>
                      <p class="card-text">Can with some damage</p>
                    </div>
                    <img src="{{ url_for('static', filename='images/colacanwithdefect.png') }}" class="card-img-top img-fluid-complete" alt="Image 2">
                  </div>
                </div>
              </div>
            </div>
            <div class="container justify-content-left px-7 d-flex align-items-center">
              <div class="form-check padded">
              <input class="form-check-input" type="checkbox" id="jsonOutputCheckbox">
              <label class="form-check-label" for="jsonOutputCheckbox">
                  Output as JSON
              </label>
              </div>
              <div class="padded">
              <a href="#" id="findDefectsButton" class="btn btn-lg btn-primary mr-3">Find Defects</a>
              </div>
            </div>
            <div class="container mt-3" id="progressBarContainer" style="display: none;">
              <div class="alert alert-info" role="alert">
                <strong>Processing...</strong> Please wait while we analyze the image.
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 50%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                <img src="{{ url_for('static', filename='images/progress-question.gif') }}" alt="Progress" class="img-fluid mt-3">
              </div>
            </div>
            </div>
            <div class="container mt-3">
                {% if result %}
                  <textarea id="dynamicLabel" class="shadow p-3 mb-5 bg-white rounded" style="min-width: 90%; display: block;" rows="10" readonly placeholder="Analysis Result">{{ result }}</textarea>
                  <script type="text/javascript">processingDone();</script>
                {% else %}
                  <textarea id="dynamicLabel" class="shadow p-3 mb-5 bg-white rounded" style="min-width: 90%; display: block;" rows="10" readonly placeholder="Analysis Result"></textarea>
                {% endif %}
            </div>
            <hr class="featurette-divider">
            <script type="text/javascript">
              var isProcessing = false; // Set to false when processing is done
    
                function toggleProgressBar() {
                var progressBarContainer = document.getElementById('progressBarContainer');
                var progressBar = document.querySelector('.progress-bar');
                if (isProcessing) {
                  progressBarContainer.style.display = 'block';
                } else {
                  progressBar.style.width = '100%';
                  setTimeout(function() {
                  progressBarContainer.style.display = 'none';
                  }, 2000); // Delay hiding to allow the progress bar to reach 100%
                }
                }
    
              // Call this function to hide the progress bar when processing is done
               function processingDone() {
                isProcessing = false;
                toggleProgressBar();
              }
    
              document.getElementById('findDefectsButton').addEventListener('click', function() {
                isProcessing = true;
                toggleProgressBar();
                var isChecked = document.getElementById('jsonOutputCheckbox').checked ? '1' : '0';
                var url = "{{ url_for('defect', image='images/colacanwithdefect.png', refImage='images/colacan.png') | safe }} &tabselected=defect-detection&jsonOutput=" + isChecked;
                window.location.href = url;
              });
             
            </script>
          </div>
          <div class="tab-pane fade {% if tabselected == 'chat-with-data' %} show active{% endif %}" id="chat-with-data" role="tabpanel" aria-labelledby="chat-with-data-tab">
            <div class="container mt-3" style="max-width: 100%;">
              <div class="row">
                <div class="col-md-6">
                  <h3>Menu Pics</h3>
                      {% set images = ['food1.jpg', 'food2.jpg', 'food3.jpg', 'food4.jpg', 'food5.jpg', 'food6.jpg', 'food7.jpg', 'food8.jpg', 'food9.jpg', 'food10.jpg'] %} <!-- Example image list -->
                        <div class="row">
                        {% for image in images %}
                          <div class="col-md-6 p-1 justify-content-center">
                          <img src="{{ url_for('static', filename='images/' ~ image) }}" class="img-fluid-complete" alt="Sample Image">
                          </div>
                        {% endfor %}
                        </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="userInput">Input</label>
                    <div class="input-group">
                      <input type="text" class="form-control" id="userInput" placeholder="Enter your query" aria-label="User Input">
                      <div class="input-group-append">
                      <button class="btn btn-primary" type="button" id="submitQueryButton">Submit</button>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="responseOutput">Response</label>
                    {% if chatdataresult %}
                      <textarea id="dynamicLabel" class="shadow p-3 mb-5 bg-white rounded" style="min-width: 90%; display: block;" rows="10" readonly placeholder="Chat with Data Result">{{ chatdataresult }}</textarea>
                      <script type="text/javascript">chatprocessingDone();</script>
                    {% else %}
                      <textarea id="dynamicLabel" class="shadow p-3 mb-5 bg-white rounded" style="min-width: 90%; display: block;" rows="10" readonly placeholder="Chat with data Result awaiting..."></textarea>
                    {% endif %}
                  </div>
                  <div class="container mt-3" id="chatprogressBarContainer" style="display: none;">
                    <div class="alert alert-info" role="alert">
                      <strong>Processing...</strong> Please wait while we analyze the images and your question.
                    <div class="progress">
                      <div class="progress-bar progress-bar-striped progress-bar-animated" id="chatprogressbar" role="progressbar" style="width: 50%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                      <img src="{{ url_for('static', filename='images/progress-question.gif') }}" alt="Progress" class="img-fluid mt-3">
                    </div>
                  </div>
                </div>
                </div>
              </div>
              </div>
              <script type="text/javascript">
                var ischatProcessing = false; // Set to false when processing is done

                function togglechatProgressBar() {
                var chatprogressBarContainer = document.getElementById('chatprogressBarContainer');
                var chatprogressBar = document.getElementById('chatprogressbar');
                if (ischatProcessing) {
                  chatprogressBarContainer.style.display = 'block';
                } else {
                  chatprogressBar.style.width = '100%';
                  setTimeout(function() {
                  chatprogressBarContainer.style.display = 'none';
                  }, 2000); // Delay hiding to allow the progress bar to reach 100%
                }
                }
    
              // Call this function to hide the progress bar when processing is done
               function chatprocessingDone() {
                ischatProcessing = false;
                togglechatProgressBar();
              }

              document.getElementById('submitQueryButton').addEventListener('click', function() {
              var userInput = document.getElementById('userInput').value;
              ischatProcessing = true;
              togglechatProgressBar();

              var url = "{{ url_for('chatwithdata') }}?query=" + encodeURIComponent(userInput) + "&tabselected=chat-with-data";
              window.location.href = url;
              });

              document.getElementById('userInput').addEventListener('keypress', function(event) {
              if (event.key === 'Enter') {
                event.preventDefault();
                ischatProcessing = true;
                togglechatProgressBar();
                document.getElementById('submitQueryButton').click();
              }
              });
              </script>
          </div>
          <div class="tab-pane fade {% if tabselected == 'image-generation' %} show active{% endif %}" id="image-generation" role="tabpanel" aria-labelledby="image-generation-tab">
            <div class="container mt-3">
              <h3>Image Generation</h3>
                <div class="form-group mt-3">
                <label for="imageInput">Enter Text for Image Generation</label>
                <input type="text" class="form-control mt-3" id="imageInput" placeholder="Enter text to generate an image">
                <select class="form-control mt-3" id="styleOption">
                  <option value="3d-model">3d-model</option>
                  <option value="analog-film">analog-film</option>
                  <option value="anime">anime</option>
                  <option value="cinematic">cinematic</option>
                  <option value="comic-book">comic-book</option>
                  <option value="digital-art">digital-art</option>
                  <option value="enhance">enhance</option>
                  <option value="fantasy-art">fantasy-art</option>
                  <option value="isometric">isometric</option>
                  <option value="line-art">line-art</option>
                  <option value="low-poly">low-poly</option>
                  <option value="modeling-compound">modeling-compound</option>
                  <option value="neon-punk">neon-punk</option>
                  <option value="origami">origami</option>
                  <option value="photographic" selected>photographic</option>
                  <option value="pixel-art">pixel-art</option>
                  <option value="tile-texture">tile-texture</option>
                </select>
                </div>
                <button class="btn btn-primary mt-2" id="generateImageButton">Generate Image</button>
                {% if generated_image %}
                <h4>Generated Image</h4>
                <div class="text-center">
                  <img src="data:image/png;base64,{{ generated_image }}" class="img-fluid" alt="Generated Image">
                </div>
                {% else %}
                  <p>No image generated yet. Please provide input to generate an image.</p>
                {% endif %}
                <script type="text/javascript">
                document.getElementById('generateImageButton').addEventListener('click', function() {
                  var imageInput = document.getElementById('imageInput').value;
                  if (imageInput.trim() === "") {
                  alert("Please enter text to generate an image.");
                  return;
                  }
                  var styleOption = document.getElementById('styleOption').value;
                  if (!styleOption) {
                  alert("Please select a style for image generation.");
                  return;
                  }
                  var url = "{{ url_for('imagegenerate') }}?query=" + encodeURIComponent(imageInput) + "&style=" + encodeURIComponent(styleOption) + "&tabselected=image-generation";
                  window.location.href = url;
                });
                </script>
            </div>
          </div>
        </div>
      </div>
     </main>    
{% endblock %}