{% extends 'base-headersmall.html' %}

{% block content %}
    <style >
    .img-fluid {
        max-width: 50%;
        height: auto;
    }
    .container-tab
    {
      max-width: 100%;
      margin: 0 auto;
      padding: 15px 0 0 15px;
    }
    </style>
     <main>
      <div class="container mt-10">
        <h4 class="text-center">Expand the horizon of AI with Speech Analysis</h4>
      </div>
      <div class="container mt-10" style="max-width: 90%;">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link {% if tabselected == 'speech-transcription' %}active{% endif %}" id="speech-transcription-tab" data-toggle="tab" href="#speech-transcription" role="tab" aria-controls="speech-transcription" aria-selected="{% if active == 'speech-transcription' %}true{% else %}false{% endif %}">Speech Transcription</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link {% if tabselected == 'speech-analysis' %}active{% endif %}" id="speech-analysis-tab" data-toggle="tab" href="#speech-analysis" role="tab" aria-controls="speech-analysis" aria-selected="{% if active == 'speech-analysis' %}true{% else %}false{% endif %}">Speech Analysis</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link {% if tabselected == 'realtime-audio' %}active{% endif %}" id="realtime-audio-tab" data-toggle="tab" href="#realtime-audio" role="tab" aria-controls="realtime-audio" aria-selected="{% if active == 'realtime-audio' %}true{% else %}false{% endif %}">Realtime-Audio</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade {% if tabselected == 'speech-transcription' %}show active{% endif %}" id="speech-transcription" role="tabpanel" aria-labelledby="speech-transcription-tab">
            <div class="container-tab mt-1">
              <div class="row">
                <div class="col-md-3 align-items-left">
                  <h3>Audio Playback</h3>
                  <audio id="audioPlayer" controls>
                    <source src="{{ url_for('static', filename='audio/wikipediaOcelot.wav') }}" type="audio/wav">
                    Your browser does not support the audio element.
                  </audio>
                </div>
                <div class="col-md-9">
                    <h3>Speech Transcription</h3>
                    <div class="form-group mt-3">
                      <button class="btn btn-primary" id="translateButton">Translate</button>
                    </div>
                    <div class="container mt-3" id="speechtranscriptionprogressBarContainer" style="display: none;">
                      <div class="alert alert-info" role="alert">
                      <strong>Processing...</strong> Please wait while we analyze the audio provided.
                      <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="speechtranscriptionprogressbar" style="width: 50%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>        
                    </div>
                    <div class="d-flex justify-content-center">
                      <img src="{{ url_for('static', filename='images/progress-question.gif') }}" alt="Progress" class="img-fluid mt-3" width="100" height="100" />
                    </div></div>
                  </div>
                  <div class="container-tab mt-3">
                    {% if speechtranscriptionresult %}
                      <textarea id="dynamicLabel" class="shadow p-3 mb-5 bg-white rounded" style="min-width: 90%; display: block;" rows="10" readonly placeholder="Analysis Result">{{ speechtranscriptionresult }}</textarea>
                      <script type="text/javascript">speechtranslationprocessingDone();</script>
                    {% else %}
                      <textarea id="dynamicLabel" class="shadow p-3 mb-5 bg-white rounded" style="min-width: 90%; display: block;" rows="10" readonly placeholder="Analysis Result"></textarea>
                    {% endif %}
                </div>
                </div>
                <script type="text/javascript">
                  var isTranslationProcessing = false; // Set to false when processing is done
        
                    function toggleSpeechTranslationProgressBar() {
                    var speechtranscriptionprogressBarContainer = document.getElementById('speechtranscriptionprogressBarContainer');
                    var speechtranscriptionprogressbar = document.getElementById('speechtranscriptionprogressbar');
                    if (isTranslationProcessing) {
                      speechtranscriptionprogressBarContainer.style.display = 'block';
                    } else {
                      speechtranscriptionprogressbar.style.width = '100%';
                      setTimeout(function() {
                      speechtranscriptionprogressBarContainer.style.display = 'none';
                      }, 2000); // Delay hiding to allow the progress bar to reach 100%
                    }
                    }
        
                  // Call this function to hide the progress bar when processing is done
                   function speechtranslationprocessingDone() {
                    isTranslationProcessing = false;
                    toggleSpeechTranslationProgressBar();
                  }
        
                  document.getElementById('translateButton').addEventListener('click', function() {
                    isTranslationProcessing = true;
                    toggleSpeechTranslationProgressBar();
                    var url = "{{ url_for('speechtotext', tabselected='speech-transcription') }}";
                    window.location.href = url;
                  });
                 
                </script>
              </div>
            </div>
          <div class="tab-pane fade {% if tabselected == 'speech-analysis' %}show active{% endif %}" id="speech-analysis" role="tabpanel" aria-labelledby="speech-analysis-tab">
            <div class="container-tab mt-3">
              <div class="row">
                <div class="col-md-3 align-items-center">
                  <h3>Audio Playback</h3>
                  <audio id="audioPlayer" controls>
                    <source src="{{ url_for('static', filename='audio/EarningsCall.wav') }}" type="audio/wav">
                    Your browser does not support the audio element.
                  </audio>
                </div>
                <div class="col-md-9">
                    <h3>Speech Analysis</h3>
                    <form method="post">
                    <div class="form-group">
                      <label for="userInput">Question</label>
                      <div class="input-group">
                        <input type="text" class="form-control" id="speechanalysisInput" placeholder="Enter your question" aria-label="Speech Analysis Input">
                        <div class="input-group-append">
                        <button class="btn btn-primary" type="button" id="submitAnalysisButton">Submit</button>
                        </div>
                      </div>
                    </div>
                    </form>
                    <div class="mt-3" id="speechanalysisprogressBarContainer" style="display: none;">
                      <div class="alert alert-info" role="alert">
                      <strong>Processing...</strong> Please wait while we analyze the audio provided.
                      <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="speechanalysisprogressbar" style="width: 50%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>        
                    </div>
                    <div class="d-flex justify-content-center">
                      <img src="{{ url_for('static', filename='images/progress-question.gif') }}" alt="Progress" class="img-fluid mt-3" width="100" height="100" />
                    </div></div>
                  </div>
                  <div class="container-tab mt-3">
                    <textarea id="speechanalysisresult" class="shadow p-3 mb-5 bg-white rounded" style="min-width: 100%; display: block;" rows="10" readonly placeholder="Analysis Result">{{ speechanalysisresult }}</textarea>
                </div>
                </div>
                <script type="text/javascript">
                    var isAnalysisProcessing = false; // Set to false when processing is done
              
                    function toggleSpeechAnalysisProgressBar() {
                    alert('Toggle called');
                    var speechanalysisprogressBarContainer = document.getElementById('speechanalysisprogressBarContainer');
                    var speechanalysisprogressbar = document.getElementById('speechanalysisprogressbar');
                    if (isAnalysisProcessing) {
                      speechanalysisprogressBarContainer.style.display = 'block';
                    } else {
                      speechanalysisprogressbar.style.width = '100%';
                      setTimeout(function() {
                      speechanalysisprogressBarContainer.style.display = 'none';
                      }, 2000); // Delay hiding to allow the progress bar to reach 100%
                    }
                    }
              
                    // Call this function to hide the progress bar when processing is done
                    function speechanalysisprocessingDone() {
                      isAnalysisProcessing = false;
                      toggleSpeechAnalysisProgressBar();
                    }
              
                    document.getElementById('submitAnalysisButton').addEventListener('click', function() {
                    isAnalysisProcessing = true;
                    toggleSpeechAnalysisProgressBar();
                    
                    var queries = queries || [];
                    var userInput = document.getElementById('speechanalysisInput').value;
                    queries.push(userInput);

                    var url = "{{ url_for('speechqueries') }}";
                    fetch(url, {
                      method: 'POST',
                      headers: {
                      'Content-Type': 'application/json'
                      },
                      body: JSON.stringify({ queries: queries })
                    }).then(response => {
                      if (response.ok) {                        
                        return response.json();
                      }
                      else {
                        throw new Error('Network response was not ok.');
                      }
                    }).then(data => {
                        //alert(data);
                        //print(data);
                        speechanalysisprocessingDone();
                        if (data.success) {
                          document.getElementById('speechanalysisresult').value = data.speechanalysisresult || "No result available.";
                        } else {
                          document.getElementById('speechanalysisresult').value = "No transcription result received.";
                        }
                    }).catch(error => {
                      console.error('There was a problem with the fetch operation:', error);
                    });
                    });
                </script>
              </div>
            </div>  
          </div>
          <div class="tab-pane fade {% if tabselected == 'realtime-audio' %}show active{% endif %}" id="realtime-audio" role="tabpanel" aria-labelledby="realtime-audio-tab">
            <div class="container mt-3">
              <h3>Realtime Audio</h3>
              <p>This is a placeholder for the Real time audio analysis</p>
            </div>
          </div>
        </div>
      </div>
     </main>     
{% endblock %}